POSTGRES_URL="postgres://postgres.aangjhraanqtueazxwqa:N8YjRVEfcU4Cugrx@aws-0-ca-central-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.aangjhraanqtueazxwqa:N8YjRVEfcU4Cugrx@aws-0-ca-central-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://aangjhraanqtueazxwqa.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://aangjhraanqtueazxwqa.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.aangjhraanqtueazxwqa:N8YjRVEfcU4Cugrx@aws-0-ca-central-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="xFPmdyxbbkYFahlCmHpwsRCFx0e4VTC1CEAo6BUhSWr/us8d2tjCwwRTNi34CuRVa0VnFQQGmE0/WExkL+NzvQ=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhbmdqaHJhYW5xdHVlYXp4d3FhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1NzUxMDIsImV4cCI6MjA1ODE1MTEwMn0.KZ_w94o0DcsoZD7FkEUxOdbyBX-zMGCv7fNh4Buzp7Y"
POSTGRES_PASSWORD="N8YjRVEfcU4Cugrx"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhbmdqaHJhYW5xdHVlYXp4d3FhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjU3NTEwMiwiZXhwIjoyMDU4MTUxMTAyfQ.YcuetfS8oVyCw6UIpSjjs1TzIfkNR1u-jGKM4iDB58o"
POSTGRES_HOST="db.aangjhraanqtueazxwqa.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhbmdqaHJhYW5xdHVlYXp4d3FhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1NzUxMDIsImV4cCI6MjA1ODE1MTEwMn0.KZ_w94o0DcsoZD7FkEUxOdbyBX-zMGCv7fNh4Buzp7Y"